# Telegram Bot Token
BOT_TOKEN=8475757726:AAEKovcWiqLPYTzNDVZ7ttejx5L7OptpNBI

# Database
DATABASE_URL=sqlite+aiosqlite:///nakrutka.db

# Redis (optional)
REDIS_URL=redis://localhost:6379

# Admin IDs (comma separated)
ADMIN_IDS=7706048424
ADMIN_CONTACT=@Jager_uz

# Bot settings
BOT_USERNAME=@Obunachi0robot

# Reward settings
TASK_REWARD=0.30
REFERRAL_COMMISSION=0.1
DAILY_BONUS=1.0
SUBSCRIBER_PRICE=0.30
